<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'add' %}" method="GET">
        <label>
            <p>X</p>
            <input type="number" name="x" required>
        </label>

        <label>
            <p>Y</p>
            <input type="number" name="y" required>
        </label>

        <button>ADD</button>
    </form>
    {% if answer is not None %}
        <p> {{x}}+{{y}}+{{z}}={{answer}}</p>
    {% endif %}
</body>
</html>